@import url('https://fonts.googleapis.com/css2?family=Roboto:ital@1&display=swap');

* {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    height: 100vh;
    margin: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(60deg, #B74D43 50%, #423838 50%);
}

.search {
    height: 50px;
    position: relative;
}

.search .input {
    height: 50px;
    width: 50px;
    background-color: #fff;
    border: none;
    border-radius: 10px;
    padding: 10px;
    font-size: 18px;
    transition: width 0.3s ease;
}

.search .btn {
    position: absolute;
    top: 0;
    left: 0;
    cursor: pointer;
    border: none;
    border-radius: 10px;
    height: 50px;
    width: 50px;
    margin: 0;
    padding: 10px;
    background-color: #fff;
    transition: transform 0.3s ease;
}

.input:focus, .btn {
    outline: none;
}

.search.active .input {
    width: 200px;
}

.search.active .btn {
    transform: translateX(180px);
}
